.text-align
{
    text-align: center;  
}
.col-1
{
   margin: 10px 10px;
   padding: 10px;
   width: 400px;

}
.text{
   color: rgb(0, 107, 180);
   
}
.container
{
    margin-top: 50px;
    padding: 10px;
    justify-items: center;
    justify-content: space-around;
    box-shadow: 20px;
}
.tilte
{
    color: rgb(32, 32, 35);
    font-size: small;
    text-align: center;
}
.card
{ width: 190px;
border: 1px solid rgba(80, 79, 79, 0.539);
}
.Total-card
{
   color: rgb(0, 107, 180);
   

}

.active-card {
   color: rgb(0, 120, 113);
}
.disconnected-card {
   color: rgb(189, 39, 30);
}
.pending-card {
   color: rgb(254, 197, 20);
}
.never-connected-card {
   color: rgb(100, 106, 119);
}

